<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Half</string>
		<key>Length</key>
		<integer>2</integer>
		<key>Type</key>
		<string>Note</string>
		<key>ImageName</key>
		<string>Half note.png</string>
		<key>FrameLocationY</key>
		<integer>85</integer>
		<key>FrameLocationX</key>
		<integer>15</integer>
		<key>Height</key>
		<integer>40</integer>
		<key>Width</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Quarter</string>
		<key>Length</key>
		<integer>1</integer>
		<key>Type</key>
		<string>Note</string>
		<key>ImageName</key>
		<string>Quarter note.png</string>
		<key>FrameLocationY</key>
		<integer>85</integer>
		<key>FrameLocationX</key>
		<integer>70</integer>
		<key>Height</key>
		<integer>40</integer>
		<key>Width</key>
		<integer>25</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Eighth</string>
		<key>Length</key>
		<real>0.5</real>
		<key>Type</key>
		<string>Note</string>
		<key>ImageName</key>
		<string>Eighth note.png</string>
		<key>FrameLocationY</key>
		<integer>85</integer>
		<key>FrameLocationX</key>
		<integer>125</integer>
		<key>Height</key>
		<integer>40</integer>
		<key>Width</key>
		<integer>25</integer>
	</dict>
</array>
</plist>
